.photo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo1 {
  background-color: #d0bfbe;
}
.photo2 {
  background-color: #c5bbbf;
}
.photo3 {
  background-color: #bdc9c7;
}
.photo4 {
  background-color: #a0cfbe;
}

.photo img {
  max-width: 1000px;
}

.section {
  padding: 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
