.body {
  font-family: Helvetica;
  font-size: 32px;
  line-height: 1.25;

  background-color: #fff;
  color: #000;
}

.about {
  background-color: #e4d3d2;
  padding: 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.about p {
  max-width: 30em;
}
