@import url('https://fonts.googleapis.com/css?family=Asul:700|Chivo');

/*=== == == == == == == == == ==
/* * #Custom Styles
== == == == == == == == == ===*/

.body {
  border: border-box;
  margin: 0;
  font-family: Chivo;
  font-size: 25px;
  line-height: 1.5;

  background-color: #fffae2;
  color: #221204;
}

/*=== == == == == == == == == ==
/* * #Media Queries 
== == == == == == == == == ===*/

@media (max-width: 800px) {
  .body {
    font-size: 16px;
  }
}
