.slideshow {
  width: 900px;
  height: 600px;
  cursor: pointer;

  position: relative;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
  z-index: 0;
}

.slideshow img:first-child {
  z-index: 1;
}
